.wrapper {
  color: black;
  font-family: sans-serif;
  font-family: 'Numans', sans-serif;
}

.attention-caption {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.caption {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.info-text {
  font-size: 20px;
  font-weight: bold;
}

.progress-bar-text {
  font-size: 20px;
  font-weight: bo;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-red {
  color: red;
}

.text-gray {
  color: gray;
}

.content-caption {
  color: gray;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
